*{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

body{
  color:rgb(107, 123, 142);
  font-size: 1.5em;
  background-color: rgb(214, 248, 184);
  margin:0;
}
#container{  
  height: 100vh;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 0.8fr 0.6fr 1.4fr 1.2fr;
  grid-template-rows: 0.25fr 0.25fr 0.3fr 0.5fr 0.3fr 0.15fr;
  gap: 0em 0em;
  grid-auto-flow: row;
  grid-template-areas:
    "Titulo Titulo Titulo Titulo"
    "nav nav nav nav"
    "p p p img"
    "tabla tabla lista mapa"
    "tabla tabla form form"
    "footer footer footer footer";
}
/*Titulo*/
.Titulo {
  grid-area: Titulo;
  text-align: center; 
}
.Titulo > h1{
  margin-bottom: -1.5vw;
  margin-top: 1vw;
  text-shadow: 0.2vw 0.2vw;
}

/*nav*/
.nav { 
  grid-area: nav;
  display: grid; 
  background-color: rgb(143, 187, 175);
  grid-template-columns: auto auto auto auto; 
  justify-items: center;
  padding: 1vw;
  text-align: center;
}

.nav > a:link{
  color:rgb(107, 123, 142);
  text-decoration: none;
}

.nav > a:visited{
  color:rgb(107, 123, 142);
  text-decoration: none;
}

.nav > a:hover{
  color:rgb(110, 142, 107);
  text-decoration: underline;
}

/*p*/  
.p { 
  grid-area:p; 
  text-align: justify;
  padding: 0 1em 0 1em;
}

.rojo{
  color:red;
}

/*img*/
.img {
margin: 1em 0 1em 0;
}
.img > img {
  display:block;
  min-width: 200px;
  min-height: 200px;
  width: 25vw;
  height: 25vw;
  border-radius: 5vw;
  max-with:100%;

  place-self: center;
  margin: 0 auto;
}

/*lux*/
.tabla>table, th, td {
  border: 1px solid;
}
.tabla {
  padding: 0 1em 0 1em;
  grid-area: tabla; 
}

.tabla>table {
  width: 90%;
}

.dentrotabla{
  display: flex;
  padding: 0px 0px 0px 0px;
}

.dentrotabla > img{
  min-width: 20px;
  min-height: 20px;
  width: 15vw;
  height: 10vw;
  place-self: center;
  margin: 0 auto;
}

.tabla small{
  font-size: 0.65em;
}

/*lista*/
.lista {
  grid-area: lista;
  padding:0 1em 0 1em;
}
.lista > ol{
  padding-left:2em;
}

/*mapa*/
.mapa {
  grid-area: mapa; 
}
.mapa > .paraelflex{
  display: flex;
  padding: 0px 0px 0px 0px;
}
.mapa img{
  place-self: center;
  margin: 0 auto;
  width: 25vw;
  height: 25vw;
}
video{
  width: 10vw;
  height: 10vw;
}

/*form*/
.form {
  grid-area: form; 
  font-size: 0.7em;
  margin-bottom: 1vw;
}
.form .inputt{
  height: 2em;
  width: 4em;
}
.form .inputt:focus{
  color: #ffffff;
}
/*footer*/
.footer {
  grid-area: footer; 
  background-color: rgb(143, 187, 175);
  text-align: center;
  margin-bottom: -2vw;
}

.footer > h3{
  margin-bottom: -0.25vw;
  margin-top: 1vw;
}

.ico{
  width: 3vw;
  height: 3vw;
}