html, body {
  height: 100%;
  width: 100%;

}
*{
  font-family: 'Inter', sans-serif;
  font-weight: bold;

}
body{
  color:rgb(107, 123, 142);
  font-size: 2em;
  background-color: rgb(214, 248, 184);
}
#literal-1{
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
  text-align: center;
}
#literal-1 >h1{
  margin-bottom: -1.5vw;
}

#literal00{
  display: grid;
  background-color: rgb(143, 187, 175);
  grid-template-columns: auto auto auto auto; 
  justify-items: center;
  padding: 1vw;
  text-align: center;
}

.linksimple:link{
  color:rgb(107, 123, 142);
  text-decoration: none;
}

.linksimple:visited{
  color:rgb(107, 123, 142);
  text-decoration: none;
}

.linksimple:hover{
  color:rgb(110, 142, 107);
  text-decoration: underline;
}

#seccion2{
  background-color: rgb(182, 144, 187);
  display: grid;
  grid-template-columns: 60% auto; 
}

#literal01{
  padding: 1em;
  text-align: left;
}

.rojo{
  color:red;
}
#literal02{
  text-align:center;
  padding: 1em;
}
#literal02 img{
  border-radius: 5vw;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  place-self: center;
}

#divtot{
 display: grid;
  grid-template-columns: auto auto; 
  grid-template-rows: auto auto; 
}

#literal03{
  margin-right: 5vw;
  width: 50%;
  float:left;
  text-align: center;
}

#literal03 small{
  font-size: 0.75em;
}

#literal04 li{
  font-size: 0.90em;
  margin-left: 50vw;
}

#literal05{
  display: grid;
  grid-template-rows: 2vm 2vm 20vm; 
}
#literal05 img{
  object-fit: cover;
}



.inputt:focus{
  color: #ffffff;
}