<mat-toolbar color="" class="titulo">
    <span class="titl">RPG CHARACTER TRUNK</span>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="4em" class="arriba">

    <mat-grid-tile>
        <a routerLink="/login">Volver</a>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="40%">
    <mat-grid-tile>
        <mat-card class="botonesG">
            <a routerLink="/new-char">
                <button mat-button>Lista Usuarios</button>
            </a>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="botonesG">
            <a routerLink="/list-char">
                <button mat-button>Lista de Personajes</button>
            </a>
            
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>