<mat-toolbar color="" class="titulo">
    <span class="titl">RPG CHARACTER TRUNK</span>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="10em">
    <mat-grid-tile>
        <img src="https://cdn.discordapp.com/attachments/188681270459498496/1004954054662815784/RPGCT.png"
            alt="Logo Dx">
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="10em">
    <mat-grid-tile>
        <p>
Conoce los personajes del épico juego ****** y a aquellos que los usan en sus partidas!
        </p>
    </mat-grid-tile>
    <!--<mat-grid-tile>
        <form>
            <div>
                <input type="email" name="email" placeholder="email">
            </div>
            <br>
            <div>
                <input type="psswrd" name="psswrd" placeholder="psswrd">
            </div>
            <br>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </mat-grid-tile>-->
    <mat-grid-tile>
        <a routerLink="/principal">
            <button mat-button>Ingresar</button>
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="/edit-char">
            <button mat-button>API y cosas</button>
        </a>
    </mat-grid-tile>
</mat-grid-list>